﻿@page
@model AboutModel
@{
    ViewData["Title"] = "Dylan Thomas' Assignment 5";
}
<h2>@ViewData["Title"]</h2>
<p>The time on the server is: @DateTime.Now </p>
<h3>@Model.Message</h3>

<p>  * Create an ASP.NET web application </p>
<p>  * Modify the content of the carousel to 3 images of my own </p>
<p>  * Modify the content of each sub section to promote my own work </p>
<p>  * Change the favicon and contact information </p>
<p>  * Have the About page display the current server time </p>


