﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    600 W College Ave<br />
    Tallahassee, FL 32306<br />
    <abbr title="Phone">P:</abbr>
    813.555.4093
</address>

<address>
    <strong>Support:</strong> <a href="mailto:dt13f@my.fsu.edu">dt13f@my.fsu.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:dt13f@my.fsu.edu">dt13f@my.fsu.edu</a>
</address>
