﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Dylan Thomas";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="https://bitbucket.org/dt13f/lis4369">
                <img src="~/images/085A0588_0.2.jpg" alt="MSi Motherboard" class="img-responsive" />
            </a>
            <div class="carousel-caption" role="option">
                <p>
                    Computer development for the 21st century.
                </p>
            </div>
        </div>
        <div class="item">
            <a href="https://www.linkedin.com/in/dylan-thomas-3744b1143/">
            <img src="~/images/solar_edit.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </a>
                <p>
                    Media Production Professional.
                </p>
            </div>
        </div>
        <div class="item">
            <a href="https://www.facebook.com/groups/LocalVolks/">
            <img src="~/images/vdub_sized.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </a>
                <p>
                    Custom aircooled solutions and monthy meets.
                </p>
            </div>
        </div>
        
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Digital Development</h2>
        <ul>
            <li>Experienced in developing alone or with a team</li>
            <li>Familiar with the building of computers from the hardware up</li>
            <li>Languages include: JavaScript, Java, HTML, C#, MySQL, and more to come</li>
            <li>I will be graduating in August 2018 from Florida State with a degree in Information Science</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Media Production</h2>
        <ul>
            <li>3 years of professional sports media experience with Seminole Productions</li>
            <li>My shots have been used on ESPN and the ACC network</li>
            <li>Football, basketball, baseball, and other live events are my favorite to shoot and produce.</li>
            <li>I use a Cannon 7d to shoot astrophotography and timelapses in my spare time</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Automobiles</h2>
        <ul>
            <li>At age 15 I began building and customizing my aircooled Volkwagen Camper</li>
            <li>7 years later, I have built countless motors and perfected my camper setup for short and long haul trips</li>
            <li>My current camper includes a solar powered battery system linked to an 1100 watt inverter which powers an on-board diagnostic computer and a propane powered full kitchen.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>The Great Outdoors</h2>
        <ul>
            <li>My bucket-list goal is to visit all 58 <a href="https://www.nps.gov/index.html"> National Parks </a> in the United States</li>
            <li>Last summer alone, I drove to and camped at 6 different parks and National Monuments along the east coast</li>
            <li>I am currently at 8 National Parks and countless nature preserves and campgrounds</li>
        </ul>
    </div>
</div>
